* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}


.deuxiemePage {
  background-color: #2d3053;
  color: whitesmoke;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.svgDisquette {
  left: 97px;
  position: relative;
}

.premierePage {
  display: flex;
  background-color: #ffeb7d;
  width: 100%;
  height: 1317px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.constructionJoueur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;

}








.affichageChoixUtilisateur {
    width: 100%;
    height: 713px;
    display: flex;
    flex-direction: column;
}

.zoneMotDevine {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.zoneMotDonne {
  display: flex;
  justify-content: center;
  flex-direction: row;
}









em {
  font-size: 55px;
}


.case {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-bottom: 3px solid #b1aeae;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 35px;
  color: #2d2c26;
  ;
}


.caseMotADetecter {
  width: 85px;
  height: 96px;
}


.promptZone {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: #ffbb72;
  border: 1px black solid;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.affichagePrompt {
  display: flex;
  justify-content: center;
}

.conteneurMotEtAffichageMot>p {
  margin-left: -363px;
  margin-bottom: -7px;
}

.motUtilisateur {
  margin-left: -363px;

}


.info {
  position: fixed;
  top: 91px;
  left: -7px;
  width: 61px;
  display: inline-block;
  padding: 12px 24px;
  fill: #ffeb7d;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.info:hover {
  fill: #fff;
  color: #ff6600;
  transform: translateY(-2px);
}

.info:active {
  transform: translateY(2px);
  box-shadow: none;
}





.zoneInfo{
  display: flex;
  width: 424px;
  height: 220px;
  padding: 7px;
  border: 1px solid black;
  position: absolute;
  top: 174px;
  left: 40px;
  background: #dfdfdf;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.lettreBienPlaceInfo{
  border: 1px solid black;
  color: black;
  padding: 5px;
  background: linear-gradient(337deg, rgba(0, 0, 0, 0) 0%, rgba(255, 187, 114, 1) 97%);
}

.lettreMalPlaceInfo{
  border: 1px solid black;
  color: black;
  padding: 5px;
  background: linear-gradient(337deg, rgba(0, 0, 0, 0) 0%, rgba(255, 233, 122, 1) 97%);
}

.lettreInconnuInfo{
  border: 1px solid black;
  color: black;
  padding: 5px;
  background: linear-gradient(337deg, rgba(0, 0, 0, 0) 0%, rgb(164, 164, 164) 97%);
}



.zoneGagne {
  position: absolute;
  z-index: 1;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #555;
  color: whitesmoke;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.zonePerdue {
  position: absolute;
  z-index: 1;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #555;
  color: whitesmoke;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.zoneRejouerAnnuler {
  display: flex;
}

.zoneRejouerAnnuler>button {
  width: 250px;
  height: 50px;
}

.affichageTour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

.zoneTour {
  top: 11px;
  left: 11px;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: rgb(206, 203, 203) solid 1px;
  width: 71px;
  height: 65px;
}

.titreZoneTour::after {
  content: "";
  background-color: rgb(206, 203, 203);
  width: 54px;
  height: 1px;
  position: absolute;
  top: 37px;
  left: 10px;
}

.tourActuel,
.tourMax {
  font-size: 18px;
}

.tourActuel {
  animation: clignoter 1.5s linear infinite;
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}


input {
  width: 71%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  color: #333;
  transition: box-shadow 0.3s ease-in-out;
}

input:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #555;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}


.zoneIndice {
  font-family: 'Comfortaa', cursive;
  display: flex;
  width: 100%;
  margin-top: 27px;
  height: 65px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.zoneIndice>p {
  font-size: 16px;
  position: relative;
  letter-spacing: 6px;
  top: -23px;
}

.indiceHTML {
  margin-top: 11px;
}


.wellplaced {
  background: linear-gradient(337deg, rgba(0, 0, 0, 0) 0%, rgb(240, 154, 7) 97%);
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  height: 100%;
}

.misplaced {
  background: linear-gradient(337deg, rgba(0, 0, 0, 0) 0%, rgba(255, 233, 122, 1) 97%);
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  height: 100%;
}

.invisible {
  display: none;
  opacity: 0%;
  transition: all 0.2s ease-in;
}

.visible {
  display: flex;
  opacity: 100%;
}


.superpose1 {
  background-color: orange;
  position: absolute;
  top: 63px;
  left: 206px;
}

.superpose2 {
  position: absolute;
  top: 63px;
  left: 381px;

  background-color: orange;
}

.superpose3 {
  position: absolute;
  top: 63px;
  left: 556px;

  background-color: orange;
}

.superpose4 {
  position: absolute;
  top: 63px;
  left: 730px;

  background-color: orange;
}

.superpose5 {
  position: absolute;
  top: 63px;
  left: 904px;

  background-color: orange;
}




.modale {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.contenuModal {
  background-color: #fefefe;
  color: black;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.fermeture {
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 18px;
  text-align: center;
}


.motAdeviner {
  font-size: 22px;
  color: #ffeb7d;
}

.nbTourActuel {
  font-size: 22px;
  color: #ffeb7d;
}