body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 55px;
}

.zoneMot{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    top: 298px;
}
em{
    font-size: 55px;
}


.case {
    display: inline-block;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-bottom: 3px solid #b1aeae;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}

.promptZone{
    position: absolute;
    width: 577px;
    height: auto;
    top: 21px;
    display: flex;
    flex-direction: column;
    border: 1px black dashed;
    justify-content: center;
    align-content: center;
    align-items: center;
}





.affichageGagne{
    display: none;
    font-size: 55px;
    position: absolute;
    padding: 29px 0px;
    top: 232px;
    background-color: rgb(232, 232, 232);
    width: 716px;
    height: 284px;
    border-radius: 22px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid 2px #b8b8b8;
}

.zoneRejouerAnnuler{
    border: solid 2px #b8b8b8;
    display: flex;
}
.zoneRejouerAnnuler>button{
    width: 250px;
    height:50px;
}

.zoneTour{
    background-color: rgb(211, 96, 96);
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    left: 24px;
    top: 19px;
    width: 100Px;
    height: 100Px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: whitesmoke;
}

.titreZoneTour{
    display: flex;
    border-bottom: solid rgb(235, 235, 235) 5px;
    width: 109px;
    align-items: center;
    justify-content: center;
}

.tourActuel, .tourMax{
    font-size: 32px;
}

.tourActuel{
    animation: clignoter 1.5s linear infinite;
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}


input {
    width: 71%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    color: #333;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #555;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }


.zoneIndice{
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
    position: absolute;
    top: 155px;
    border: rgb(215, 215, 215) solid 1px;
    align-items: center;
    justify-content: center;
}






.invisible{
    display: none;
    opacity: 0%;
    transition: all 0.2s ease-in;
}
.visible{
    display: flex;
    opacity: 100%;
}