* {font-family: 'Comfortaa', cursive;
  font-family: 'Roboto', sans-serif;
}


body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.affichageChoixUtilisateur {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.zoneMotDevine {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.zoneMotDonne {
  display: flex;
  justify-content: center;
  flex-direction: row;
}









em {
  font-size: 55px;
}


.case {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-bottom: 3px solid #b1aeae;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 35px;
}


.caseMotADetecter {
  width: 85px;
  height: 96px;
}


.promptZone {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
  border: 1px black solid;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.affichagePrompt {
  display: flex;
  justify-content: center;
}





.zoneGagne {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #555;
  color: whitesmoke;
  border-radius: 3px;
  justify-content: center;
  align-content: center;
}

.zoneRejouerAnnuler {
  border: solid 2px #b8b8b8;
  display: flex;
}

.zoneRejouerAnnuler>button {
  width: 250px;
  height: 50px;
}

.zoneTour {
  background-color: rgb(211, 96, 96);
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  left: 24px;
  top: 19px;
  width: 100Px;
  height: 100Px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: whitesmoke;
}

.titreZoneTour {
  display: flex;
  border-bottom: solid rgb(235, 235, 235) 5px;
  width: 109px;
  align-items: center;
  justify-content: center;
}

.tourActuel,
.tourMax {
  font-size: 32px;
}

.tourActuel {
  animation: clignoter 1.5s linear infinite;
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}


input {
  width: 71%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  color: #333;
  transition: box-shadow 0.3s ease-in-out;
}

input:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

button {
  padding: 10px 20px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #555;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}


.zoneIndice {
  font-family: 'Comfortaa', cursive;
  display: flex;
  width: 100%;
  margin-top: 27px;
  height: 65px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.zoneIndice>p {
  font-size: 22px;
  position: relative;
  margin-top: px;
  letter-spacing: 6px;
  top: -23px;
}

.indiceHTML {
  margin-top: -20px;
}


.wellplaced {
  background-color: orange;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  height: 100%;
}

.misplaced {
  background-color: yellow;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  height: 100%;
}

.invisible {
  display: none;
  opacity: 0%;
  transition: all 0.2s ease-in;
}

.visible {
  display: flex;
  opacity: 100%;
}


.superpose1 {
  background-color: orange;
  position: absolute;
  top: 63px;
  left: 206px;
}

.superpose2 {
  position: absolute;
  top: 63px;
  left: 381px;

  background-color: orange;
}

.superpose3 {
  position: absolute;
  top: 63px;
  left: 556px;

  background-color: orange;
}

.superpose4 {
  position: absolute;
  top: 63px;
  left: 730px;

  background-color: orange;
}

.superpose5 {
  position: absolute;
  top: 63px;
  left: 904px;

  background-color: orange;
}